* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: white;
  background-color: rgb(53, 53, 53);
  font-family: 'Inconsolata', monospace;
}

/* login page */

.forms {
  width: 45%;
  display: flex;
  flex-direction: column;
  margin: 3% auto;
  height: 30%;
  font-family: 'Inconsolata', monospace;
}

input {
  margin-bottom: 3%;
  height: 2rem;
  color: white;
  background-color:  rgb(53, 53, 53);
  outline: none;
  font-size: 1.3rem;
  border: solid 1px rgb(126, 126, 126);
  font-family: 'Inconsolata', monospace;
}

.forms > input {
  height: 2.7rem;
}

.password {
  position: relative;
  width: 100%;
}

.password > input {
  width: 100%;
  height: 2.5rem;
}

.eye {
  position: absolute;
  right: 5%;
  top: 10%;
}

button {
  border: solid 1px rgb(126, 126, 126);
  cursor: pointer;
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons > form {
  width: 47%;
}

form > input {
  width: 100%;
}

/* contact page */

.container {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 2% auto;
  font-family: 'Inconsolata', monospace;
}

.header {
  font-size: 2.5rem;
  border-bottom: solid 2px rgba(216, 162, 92, 0.76);
  padding-bottom: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Inconsolata', monospace;
}

.backButton {
  background-color:  rgb(53, 53, 53); 
  color: rgba(255, 255, 255, 0.986);
  width: 10%;
  font-family: 'Inconsolata', monospace;
}

.searchLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2%;
  align-items: center;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-end;
  margin-top: 1%;
  transition: 0.5s;
  color: rgba(255, 255, 255, 0.986);
  font-family: 'Inconsolata', monospace;
}

input:hover {
  cursor: auto;
}

input:focus {
  border: 2px solid rgba(216, 162, 92, 0.76);;
}

.table {
  margin: 3% auto;
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: space-between;
}

.first {
  height: 20%; 
  border-bottom: solid 2px rgba(216, 162, 92, 0.76);
}

.line {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: baseline;
  height: 20%;
  border-top: solid 1px rgba(216, 162, 92, 0.76);
}

.cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  height: 100%;
  margin: 2% 2%;
}

.cell > input {
  margin-top:3%;
  margin-bottom: 3%;
  width: 80%;
}

.small {
  width: 40%;
}

.big {
  width: 60%;
}

.sort {
  cursor: pointer;
}
/* icons  */

.groupIcons {
  display: flex;
  flex-direction: row;
  width: 20%;
  justify-content: space-between;
}

.oneIcon {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.6s;
  margin: 1% 1%;
  font-size: 1.5rem;
}

.save {
  color: rgb(76, 138, 76);
  font-size: 1.6rem;
}

.plus {
  font-size: 1.6rem;
}

.oneIcon:hover {
  opacity: 1;
}

.spinner {
  color:rgba(216, 162, 92, 0.76);;
  animation-name: rotation;
  animation-duration: 4s;
  opacity:1
}

@keyframes rotation {
  from {transform: rotate(0deg); opacity: 0;}
  to {transform: rotate(720deg); opacity: 1;}
}
